@keyframes scroll-line {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

@-webkit-keyframes scroll-line {
	from {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
	}
}

.running-line__wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
	background-color: var(--running-line-bg);
}

.running-line__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	animation: scroll-line 30s linear infinite;
}

.running-line__item {
	position: relative;
	font-family: "Merriweather", serif;
	white-space: nowrap;
	font-size: 16px;
	color: var(--light);
	text-transform: uppercase;
	padding: 10px 12px 10px 18px;
}

.running-line__item::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background-color: var(--light);
}
