:root {
	--light: #fff;

	--text-color: #313131;
	--text-grey: #595653;
	--text-red: #f54932;
	--text-blue: #3057a2;

	--running-line-bg: #f54932;

	--knight-fill: #595653;

	--button-dark: #1f1f1f;
	--button-slider-bg: #313131;
	--button-disabled: #d6d6d6;
	--button-light: rgba(255, 255, 255, 0.9);
	--button-primary-hover: #fbce51;

	--border-table: #d0d0d0;

	--header-bg: #fff;
	--header-shadow: rgba(0, 0, 0, 0.1);
	--footer-bg: #e9ded4;

	--transition-ms: 0.2s;
	--transition-slider: 0.8s;
}
