@keyframes header-bg-change {
	from {
		background-color: transparent;
		backdrop-filter: blur(0px);
	}
	to {
		background-color: var(--header-bg);
		backdrop-filter: blur(10px);
		box-shadow: 0 2px 10px var(--header-shadow);
	}
}

.header__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;

	animation: header-bg-change linear both;
	animation-timeline: scroll();
	animation-range: 0px 200px;
}

.header__logo,
.header__logo-icons {
	display: inline-flex;
	align-items: center;
}

.header__logo {
	column-gap: 5px;
}

.header__logo-icons {
	height: 27px;
	column-gap: 2px;
}

.header__logo-svg {
	display: block;
	height: 100%;
	width: auto;
	fill: var(--knight-fill);
}

.header__logo-text {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--text-grey);
	max-width: 130px;
	line-height: 100%;
}

.header__logo-text--full {
	display: block;
}
