.header__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 25px 0;
}

.header__logo,
.header__logo-icons {
	display: inline-flex;
	align-items: center;
}

.header__logo {
	column-gap: 7px;
}

.header__logo-icons {
	column-gap: 2px;
}

.header__logo-text {
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	color: var(--text-grey);
	max-width: 150px;
	line-height: 108%;
}

.header__logo-text--full {
	display: block;
}
